## Build generated
build/
DerivedData/
CombineCocoa.framework.zip
Example/Example.xcworkspace

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/

# CocoaPods
We recommend against adding the Pods directory to your .gitignore. However
you should judge for yourself, the pros and cons are mentioned at:
https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
Example/Pods/

# Carthage
Carthage

### Visual Studio Code
.vscode
